:root {

    --border-radius: 8px;

    /* COLORS */
    --bg-app: rgb(240, 240, 240);
    
    --bg-expense-item: rgb(21, 30, 56);

    --bg-budget: rgb(21, 30, 56);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;

    font-family: 'Poppins', sans-serif;
}